<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Employee Manager</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    {% if user.is_authenticated %}
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_emp' %}">Employees</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'signup' %}">Create User +</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'upload_data' %}">Upload CSV</a>
      </li>
    </ul>
    {% endif %}
    <ul class="nav navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="btn btn-outline-dark btn-sm ml-2" href="{% url 'logout' %}"
          >Logout</a
        >
      </li>
      {% else %}
      <li class="nav-item">
        <a class="btn btn-outline-dark btn-sm ml-2" href="{% url 'login' %}"
          >Login</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
